<% provide(:title, "About") %>
<h1>About Recon</h1>
<p>Have you ever wanted to go to a concert, but were hesitant to buy tickets because you weren't sure who would be coming with you? Recon looks at your friends from music services such as <a href="http://www.rdio.com" target="_blank">Rdio</a> and <a href="http://www.spotify.com" target="_blank">Spotify</a> to determine which ones match your taste, and lets you agree to buy tickets together so you're not left holding any extras.</p>